<div class="row">
  <div class="col s5 offset-s1">
    <h3>Welcome to Idea Box</h3>
    <span>Search Existing Ideas</span>
    <input type='text' id='search'>
    <p>Add an Idea</p>
    <input type="text" id="idea-title" placeholder="title">
    <input type="text" id="idea-body" placeholder = "text" class="materialize-textarea" length="140">
      <input class="waves-effect waves-light btn" type="button" id="submit-button" value="Save">
  </div>
  <div class="col s5 offset-s1">
    <div id='ideas-index'></div>
  </div>
</div>
