<h3>Latest Ideas</h3>
<div id='ideas-index'>
</div>

<span>Title</span>
<input type="text" id="idea-title">
<span>Body</span>
<input type="text" id="idea-body">
<input class="waves-effect waves-light btn" type="button" id="submit-button" value="Save">